<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-company.css" rel="stylesheet">

</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/main">ShoppingMall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/write">Product Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/order/list">Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company/list">Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/join">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <!--Category-->
            <h1 class="my-4">Yun Shop</h1>
            <form class="navbar-form navbar-left" role="search"  method="post" action="/search">
                <div class="form-group">
                    <input type="text" name="search" class="form-control" placeholder="검색">
                </div>
                <button type="submit" class="btn btn-default"></button>
            </form>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="/main">전체 상품</a>
                </li>
                <li class="list-group-item" th:each="category: ${categorys}">
                    <a th:href="@{/category(category=${category.categoryId})}" th:text="${category.name}">Category 1</a>
                </li>
            </ul>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <br/>
            <div class="page-header">
                <div class="col-md-12 col-md-offset-3">
                    <h3 th:text="${companyname}+' Contact 리스트'"></h3>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">RegDate</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact: ${contacts}">
                    <th scope="row" th:text="${contact.contactId}"></th>
                    <td  th:text="${contact.title}"></td>
                    <td  th:text="${contact.content}"></td>
                    <td  th:text="${contact.regDate}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>