<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Item - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

  <script src="common/js/includeHTML.js"></script>

</head>

<body>

<!-- Navigation -->
<div include-html="common/navigation.html"><script>includeHTML();</script></div>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <!--Category-->
        <h1 class="my-4">Yun Shop</h1>
        <form class="navbar-form navbar-left" role="search"  method="post" action="/search">
          <div class="form-group">
            <input type="text" name="search" class="form-control" placeholder="검색">
          </div>
          <button type="submit" class="btn btn-default"></button>
        </form>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="/main">전체 상품</a>
          </li>
          <li class="list-group-item" th:each="category: ${categorys}">
            <a th:href="@{/category(category=${category.categoryId})}" th:text="${category.name}">Category 1</a>
          </li>
        </ul>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <div class="card mt-4">
          <img class="card-img-top img-fluid" th:src="@{${'/img/bar/' + product.filePath + ''}}" alt="" height="200" width="450">
          <div class="card-body">
            <h5 class="card-title" th:text="${'상품명 : '+product.name}">Product Name</h5>
            <h5 th:text="${'가격 : '+ product.price + '원'}"></h5>
            <h5 th:text="${'회사 : '+product.company.name}"></h5>
            <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>-->
            <!--<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>-->
            <!--4.0 stars-->
          </div>
        </div>
        <!-- /.card -->

        <!--button-->
        <div class="btn-group float-right" role="group" aria-label="Basic example">
              <a class="btn btn-outline-secondary" href="/main" role="button">목록</a>
              <a class="btn btn-outline-secondary" href="/main" role="button">리뷰</a>
              <a class="btn btn-outline-secondary" href="/main" role="button">수정</a>
        </div>
      <br/>
          <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body" th:each="review: ${reviews}">
            <b th:text="${review.user.nickname}"/>
            <p th:text="${review.content}"></p>
            <small class="text-muted" th:text="${review.regDate}"></small>
            <hr>
            <!--<a href="#" class="btn btn-success">Leave a Review</a>-->
          </div>
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

<!-- Footer -->
<footer include-html="common/footer.html"><script>includeHTML();</script></footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
